= simple_form_for @note do |f| 
  = f.input :header, label: false, required: true, placeholder: 'Eine neue Notiz erstellen (Tags werden mit #-Zeichen erzeugt)', tabindex: 1, id: 'new-note-header-input', autofocus: true
  = f.input :content, as: :text, label: false, placeholder: 'Eine Detailbeschreibung eingeben (Optional)', tabindex: 2, id: 'new-note-content-input'
  .row
    .small-9.column#note-input-hint
      = content_tag :span, "Mit" 
      = content_tag :kbd, "Enter"
      = content_tag :span, "lässt sich eine Detailbeschreibung hinzufügen."
      = content_tag :span, "Mit"
      = content_tag :kbd, "Strg" 
      = content_tag :span, "+"
      = content_tag :kbd, "Enter"
      = content_tag :span, "oder"
      = content_tag :kbd, "Cmd"
      = content_tag :span, "+"
      = content_tag :kbd, "Enter"
      = content_tag :span, "kann die Notiz gespeichert werden."
    .small-3.column#note-create-button
      = f.button :submit, value: 'Notiz speichern', class: 'small radius'
