%li.notes-list-item
  = content_tag :span, note.header, class: 'note-header'
  = markdown note.content 

  .note-actions
    = content_tag :span, "Erstellt: " + note.created_at.strftime("%d.%m.%Y %H:%M"), class: 'note-timestamp'
    = #content_tag :span, note.updated_at.strftime("%d.%m.%Y %H:%M"), class: 'note-timestamp'
    = link_to 'Bearbeiten', edit_note_path(note), class: 'note-edit'
    = link_to 'Löschen', note, method: :delete, data: { confirm: 'Soll die Notiz wirklich gelöscht werden?' }, class: 'note-delete'